In [157]:
#Q1 Find the datatype of these two declarations.
x = 5
y = "John"

print (" The Type of x is:", type(x))
print (" The Type of y is:", type(y))

 The Type of x is: <class 'int'>
 The Type of y is: <class 'str'>

In [ ]:
#Q2 Check whether the following syntax is valid or invalid for naming a variable. ?
Example: abc=100 #valid syntax
1) 3a=10
2) @abc=10
3) a100=100
4) _a984_=100
5) a9967$=100
6) xyz-2=100

In [152]:
3a=10
print (3a)

SyntaxError: invalid decimal literal (516579128.py, line 1)

In [76]:
@abc=10
print(@abc)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2702822024.py, line 1)

In [78]:
a100=100
print(a100)

100

In [80]:
_a984_=100
print(_a984_)

100

In [82]:
a9967$=100
print(a9967$)

SyntaxError: invalid syntax (996261825.py, line 1)

In [84]:
xyz-2=100
print("xyz-2")

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4113115602.py, line 1)

In [159]:
#Direct query to identify Valid and invalid variables

variables = ["3a", "@abc", "a100", "_a984_", "a9967$", "xyz-2"]

for var in variables:
    if var.isidentifier():
        print(f"{var} #valid syntax")
    else:
        print(f"{var} #invalid syntax")

3a #invalid syntax
@abc #invalid syntax
a100 #valid syntax
_a984_ #valid syntax
a9967$ #invalid syntax
xyz-2 #invalid syntax

In [161]:
#Q3 Check if an element exists in the list in Python.
#list = test_list = [1, 6, 3, 5, 3, 4]
#1) Check if 3 exist or not.
#2) Check if 9 exists or not.

test_list = [1, 6, 3, 5, 3, 4]

# To check if 3 exists in the list
if 3 in test_list:
    print("3 exists in the list")
else:
    print("3 does not exist in the list")

# To check if 9 exists in the list
if 9 in test_list:
    print("9 exists in the list")
else:
    print("9 does not exist in the list")

3 exists in the list
9 does not exist in the list

In [4]:
#Q4 Take the user input to print the current date?

from datetime import datetime

# Need to prompt the user for input
user_input = input("Do you want to see the current date? (y/n): ").strip().lower()

# Y - Yes, N - No

# To check the user's response
if user_input == 'y':
    # Get the current date
    current_date = datetime.now().strftime("%Y-%m-%d")
    print(f"Current date: {current_date}")
else:
    print("Okay, not showing the date.")

Do you want to see the current date? (y/n):  n

Okay, not showing the date.

In [14]:
#Q5 What is the output of the following code?
#a) print 9//2
#b) print 9%2

# Lets define the variables to get the desired print output

x= 9//2
y= 9%2

print ("The output of (9//2) is:", x)
print ("The output of (9%2) is:", y)

The output of (9//2) is: 4
The output of (9%2) is: 1

In [130]:
#Q6 Print the First 10 Natural Numbers using a while loop.

#To initialize it
number = 1

while number <= 10:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10

In [16]:
#Q7 Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number. 
#Example= if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

# To accept a number from the user
number = int(input("Enter a number: "))

# Initialize the sum variable
total_sum = 0

# To calculate the sum of all numbers from 1 to the given number
for i in range(1, number + 1):
    total_sum += i

# To print the result
print(f"The sum of all numbers from 1 to {number} is {total_sum}")

Enter a number:  10

The sum of all numbers from 1 to 10 is 55

In [144]:
#Q8 Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples
#of five print "Buzz". For numbers that are multiples of both three and five print "FizzBuzz"?

# To iterate through numbers from 1 to 50
for i in range(1, 51):
    # To check if the number is divisible by both 3 and 5
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    # To check if the number is divisible by 3
    elif i % 3 == 0:
        print("Fizz")
    # To check if the number is divisible by 5
    elif i % 5 == 0:
        print("Buzz")
    # If the number is not divisible by 3 or 5, print the number itself
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz